/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* FUNDO */
body {
  background: linear-gradient(135deg, #000000, #0a0f2c, #000814);
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* TÍTULOS */
h2 {
  font-size: 2em;
  color: #00eaff;
  text-shadow: 0 0 10px #00eaff;
}

h3 {
  color: #66e0ff;
  margin-top: 20px;
}

/* TEXTO */
p {
  margin: 10px 0;
  color: #cfd8ff;
}

/* FORMULÁRIO */
form {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px #00eaff;
  width: 300px;
  margin: 20px auto;

}
/* INPUTS */
input {
  padding: 10px;
  width: 90%;
  margin: 5px 0;
  border: 2px solid #00eaff;
  border-radius: 8px;
  background-color: #000814;
  color: white;
  outline: none;
  box-shadow: 0 0 8px #00eaff inset;
  transition: all 0.3s ease;
  position: relative;
}

/* EFEITO AO PASSAR O MOUSE */
input:hover {
  box-shadow: 
    0 0 5px #00eaff,
    0 0 10px #00eaff,
    0 0 15px #00eaff,
    inset 0 0 8px #00eaff;
  border-color: #66e0ff;
}

/* EFEITO AO CLICAR (FOCUS) */
input:focus {
  box-shadow: 
    0 0 10px #00eaff,
    0 0 20px #00eaff,
    0 0 30px #00eaff,
    inset 0 0 10px #00eaff;
  border-color: #00ffff;
  transform: scale(1.03);
}
/* BOTÃO */
button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #00eaff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  background: #00bcd4;
  box-shadow: 0 0 15px #00eaff;
}
/* ESCONDE SOMENTE os radios dessa área */
.botoes-pagamento input[type="radio"] {
  display: none;
}

/* BOTÕES */
.botoes-pagamento label {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: 2px solid #00eaff;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  background: #000814;
  transition: 0.3s;
}

/* HOVER */
.botoes-pagamento label:hover {
  box-shadow: 0 0 10px #00eaff;
  transform: scale(1.05);
}

/* SELECIONADO */
.botoes-pagamento input[type="radio"]:checked + label {
  background: linear-gradient(135deg, #00eaff, #00bcd4);
  color: black;
  box-shadow: 
    0 0 10px #00eaff,
    0 0 20px #00eaff;
}

/* LINHA */
hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, #00eaff, transparent);
  margin: 30px 0;
}

/* PIX E CARTÃO */
#qrcode, #cartaoForm {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px #00eaff;
  width: 300px;
  margin: 20px auto;
  display: none;
}

/* IMAGEM QR */
#qrcode img {
  margin-top: 10px;
  border: 2px solid #00eaff;
  border-radius: 10px;
  box-shadow: 0 0 10px #00eaff;
}

/* RESPONSIVO */
@media (max-width: 600px) {
  form, #qrcode, #cartaoForm {
    width: 90%;
  }
}